<!DOCTYPE html>

<!-- US english -->
<html lang="en">

	<head>

		<!-- variable-width character encoding -->
		<meta charset="UTF-8">

		<!-- local CSS only -->
		<link
			rel="stylesheet"
			href="public/assets/css/burger_style.css"
			type="text/css"
		/>
		
		<!-- Bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		
		<!-- Fontawesome -->
        <link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
			integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
			crossorigin="anonymous"
        />

		<!-- Google Fonts - Sedgwick Ave -->
		<link
		href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Sedgwick+Ave&display=swap" 
		rel="stylesheet"
		/>

		<title>Burgers!</title>
		
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="public/assets/js/burgers.js"></script>
		
	</head>

	<body>

		{{{ body }}}
	
	</body>

</html>