<div class="jumbotron jumbotron-fluid" id="jumbo">

  <div class="container">

    <div class="row d-flex justify-content-center"> 
      
      <div class="col-lg-6" id="burger-border">

        <h1 class="display-4 d-flex justify-content-center">

          <i class="fas fa-hamburger fa-5x" id="burger-icon"></i>
        
        </h1>
        

        <h1 class="display-4 d-flex justify-content-center" id="title">

          Burgers!
          
        </h1>

      </div>

    </div>

  </div>

</div>

<div class="container d-flex justify-content-center" id="forms-container">

  <div class="card col-lg-6" id="forms-background">

  <div class="row d-flex justify-content-center">

    <div class="col">

      <div class="card" id="add-burger">
      
        <div class="card-header d-flex justify-content-center">

          <h2 class="header">Add Burger</h2>

        </div>
        
        <div class="card-body d-flex justify-content-center">

          <form class="create-form">

            <div class="form-group">

              <input type="text" id="ca" name="name" placeholder="Enter Burger Name">

            </div>

            <div class="form-group">

              <input type="radio" name="sleepy" value="1" > Devour it Now!
              <br>
              <input type="radio" name="sleepy" value="0" checked> Save for later

            </div>

            <button class="btn btn-primary" type="submit">Add Burger</button>

          </form>

        </div>

      </div>

    </div>

  </div>

  <div class="row d-flex justify-content-center">

    <div class="col">

      <div class="card" id="new-burger">
      
        <div class="card-header d-flex justify-content-center">

          <h2 class="header">Burger Queue</h2>

        </div>

        <div class="card-body d-flex justify-content-center">

          <ul class="list-group list-group-flush w-100">

            {{#each allburgers}}

              {{#unless devoured}}

                {{> burger-block avail=true}}

              {{/unless}}

            {{/each}}

          </ul>

        </div>
      
      </div>
    
    </div>
  
  </div>

  <div class="row d-flex justify-content-center">

    <div class="col">

      <div class="card " id="dev-burger">
      
        <div class="card-header d-flex justify-content-center">

          <h2 class="header">Burger History                                                       </h2>

        </div>

        <div class="card-body d-flex justify-content-center">

          <ul class="list-group list-group-flush w-100"> 

            {{#each allburgers}}

              {{#if devoured}}

                {{> burger-block avail=false}}

              {{/if}}

            {{/each}}

          </ul>

        </div>

      </div>

    </div>

  </div>

  </div>

</div>